<div class="container">
  <div class="logo" (click)="router.navigate([''])">
    <span class="material-symbols-outlined">stars</span>
    <p>Game store</p>
  </div>
  <div class="links">
    <p (click)="router.navigate([''])">Games</p>
    <p>Community</p>
    <p>About</p>
    <p>Support</p>
  </div>
  <div class="right">
    <div class="user" *ngIf="us.user?.id !== undefined" (click)="router.navigate(['edit-user'])">
      <img [src]="us.user.avatarImagePath" alt="">
      <p>{{us.user!.firstName}}</p>
      <p>{{us.user!.lastName}}</p>
    </div>
    <div class="cart">
      <span class="material-symbols-outlined">shopping_cart</span>
      <p>3</p>
    </div>
    <div class="logout" *ngIf="us.user?.id !== undefined" (click)="us.logout()">
      <span class="material-symbols-outlined">logout</span>
    </div>
    <div class="sign-in" *ngIf="us.user?.id === undefined"
         (click)="router.navigate(['login'])">
      <p>Sign in</p>
    </div>
  </div>
</div>
