.comment {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

.comment p {
  margin: 0;
}

.user, .left {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: bold;
}

.user {
  gap: 1vw;
}

.text {
  text-align: justify;
}

.save-delete {
  border-radius: 4px;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 3vw;
  background-color: red;
  cursor: pointer;
}

.date {
  font-weight: normal;
}

.reply {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.rep {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}

.mode {
  display: flex;
  flex-direction: row;
  width: 9vw;
  gap: 1vw;
}

.edit, .delete {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
}

.edit:hover, .delete:hover {
  border-radius: 4px;
  background-color: white;
  color: black;
}
