<div class="container">
  <div class="top">
      <div class="genres-search" (click)="tagIsPressed = !tagIsPressed">
        <span class="material-symbols-outlined">add</span>
        <p>Add genre</p>
      </div>
      <div class="choose-genre" *ngIf="tagIsPressed">
        <div class="item" *ngFor="let g of genres">
          <input (change)="onChangeGenre(g)" name="{{ g.name }}" type="checkbox" id="{{g.name}}">
          <label for="{{g.name}}">{{g.name}}</label>
          <div class="sub-genre" *ngFor="let sub of g.subGenres">
            <input (change)="onChangeGenre(sub)" name="{{ sub.name }}" type="checkbox" id="{{g.name}}">
            <label for="{{sub.name}}">{{sub.name}}</label>
          </div>
        </div>
      </div>
    <div class="search">
        <span class="material-symbols-outlined">search</span>
        <input type="text" [(ngModel)]="search">
    </div>
  </div>
  <div class="add-game" *ngIf="us.user.id !== undefined">
    <div class="add-button" (click)="router.navigate(['add-game'])">
      <p>Add Game</p>
    </div>
  </div>
  <div class="cards">
    <article class="card" *ngFor="let g of games | searchFilter: search | genresSearchFilter: genresToFind"
             (mouseover)="showControls(g.authorId!, img, changes)"
             (mouseleave)="img.style.opacity = '1'; changes.style.opacity = '0'">
      <img [src]="g.imagePath" [alt]="g.name" #img>
      <div class="info">
        <div class="price">
          <p>${{g.price}}</p>
          <div class="buy" (click)="cs.addGame(g.id!)">
            <p>BUY</p>
          </div>
        </div>
        <div class="genres">
          <div class="genre" *ngFor="let ge of g.genres">
            <p>{{ge}}</p>
          </div>
        </div>
        <div class="name" (click)="router.navigate(['game', g.id])">
          <p>{{g.name}}</p>
        </div>
      </div>
      <div class="changes" #changes>
        <div class="edit" (click)="router.navigate(['edit', g.id])"
                          *ngIf="us.user.id === g.authorId">
          <span class="material-symbols-outlined">edit</span>
          <p>Edit</p>
        </div>
        <div class="delete" (click)="delete(g.id)"
             *ngIf="us.user.id === g.authorId">
          <span class="material-symbols-outlined">delete</span>
          <p>Delete</p>
        </div>
      </div>
    </article>
  </div>
</div>
