<div class="container">
  <div class="top">
      <div class="genres-search" (click)="tagIsPressed = !tagIsPressed">
        <span class="material-symbols-outlined">add</span>
        <p>Add genre</p>
      </div>
      <div class="choose-genre" *ngIf="tagIsPressed">
        <div class="item" *ngFor="let g of genres">
          <input (change)="onChangeGenre(g)" name="{{g.name}}" type="checkbox" id="{{g.name}}">
          <label for="{{g.name}}">{{g.name}}</label>
          <div class="sub-genre" *ngFor="let sub of g.subGenres">
            <input (change)="onChangeGenre(sub)" name="{{sub.name}}"
                   type="checkbox" id="{{sub.name}}"
                   [checked]="sub.isSelected">
            <label for="{{sub.name}}">{{sub.name}}</label>
          </div>
        </div>
      </div>
    <div class="search">
        <span class="material-symbols-outlined">search</span>
        <input type="text" [(ngModel)]="search">
    </div>
  </div>
  <div class="add-game" *ngIf="us.user.id !== undefined">
    <div class="add-button" (click)="router.navigate(['add-game'])">
      <p>Add Game</p>
    </div>
  </div>
  <div *ngIf="loading" class="loading" style="text-align: center">
    <p>Loading...</p>
  </div>
  <div class="cards">
    <app-game-card *ngFor="let g of games | searchFilter: search | genresSearchFilter: genresToFind"
    [game]="g" (deleteGameId)="filterGamesAfterDelete($event)"></app-game-card>
  </div>
</div>
