.container {
  display: flex;
  flex-direction: column;
  background-color: #1e1e1e;
  color: white;
  overflow-y: scroll;
  height: 85vh;
}
.container::-webkit-scrollbar {
  display: none;
}
.container p {
  margin: 0;
}

/* Search and genres */
.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  padding: 1% 2%;
}

.genres-search, .search {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  border-radius: 2px;
}

.genres-search:hover {
  background-color: #323232;
}

.search, .search input {
  background-color: #323232;
  border: none;
}

/* Add game */

.add-game {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  cursor: pointer;
  padding: 0 2%;
  margin-top: 1%;
}

.add-button {
  background-color: #34b934;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 18px;
  font-weight: 500;
  border-radius: 2px;
  height: 5vh;
  padding: 0 1%;
}

/* Game cards */
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  position: relative;
  margin: 1%;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 60vh;
  min-width: 20vw;
  backface-visibility: hidden;
  padding-bottom: 1%;
}

.card img {
  max-width: 40vw;
  min-height: 48vh;
  max-height: 48vh;
  cursor: pointer;
}

.info {
  display: flex;
  flex-direction: column;
  height: 12vh;
  padding: 0 1%;
}

.price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 25px;
  align-items: center;
}

.buy {
  display: flex;
  flex-direction: row;
  background-color: #34b934;
  border-radius: 4px;
  align-items: center;
  width: 80px;
  height: 30px;
  justify-content: center;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

.genres {
  display: flex;
  flex-direction: row;
  gap: 1%;
  height: 5vh;
}

.genre {
  background-color: #5097f3;
  border-radius: 10px;
  font-family: 'Roboto 300', sans-serif;
  padding: 0 1%;
  height: 3vh;
}

.name {
  font-family: 'Roboto 300', sans-serif;
  font-size: 25px;
}

.card img:hover {
  opacity: 0.2;
}

.card:hover .changes {
  opacity: 1;
}

.changes {
  position: absolute;
  top: 30%;
  left: 40%;
  opacity: 0;
  font-size: 30px;
  color: red;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.edit, .delete {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}


