<div class="content">
  <div class="page">
    <div class="header">
      <p>Edit game</p>
    </div>
    <form #create="ngForm">
      <div class="input">
        <label for="name">Input name</label>
        <input type="text" id="name"
               name="name"
               required
               minlength="3"
               [(ngModel)]="game.name"
               #name="ngModel">
        <p style="margin: 0; color: red; font-size: 14px; padding-top: 2px;"
           *ngIf="name.touched && name.invalid">Name is required.</p>
        <p style="margin: 0; color: red; font-size: 14px; padding-top: 2px;"
           *ngIf="name.value.length < 3">Min length is 3 characters.</p>
      </div>
      <div class="input">
        <label for="description">Input description</label>
        <textarea maxlength="300" placeholder="Title" class="center"
                  id="description" rows="1"
                  minlength="10"
                  name="description"
                  [(ngModel)]="game.description"
                  required
                  #description="ngModel"></textarea>
        <p style="margin: 0; color: red; font-size: 14px; padding-top: 2px;"
           *ngIf="description.touched && description.invalid">Description is required.</p>
        <p style="margin: 0; color: red; font-size: 14px; padding-top: 2px;"
           *ngIf="description.value.length < 10">Min length is 10 characters.</p>
      </div>
      <div class="input">
        <label for="price">Input price</label>
        <input type="number" id="price" name="price"
               required
               min="0"
               [(ngModel)]="game.price"
               #price="ngModel">
        <p style="margin: 0; color: red; font-size: 14px; padding-top: 2px;"
           *ngIf="price.touched && price.invalid">Price is required.</p>
        <p style="margin: 0; color: red; font-size: 14px; padding-top: 2px;"
           *ngIf="price.value < 0">Value must be more than 0.</p>
      </div>
      <div class="send">
        <button type="submit" [disabled]="create.invalid" [style.background-color]="create.invalid ? 'red' : '#34b934'"
                (click)="updateGame()">Update game</button>
      </div>
    </form>
  </div>
</div>
