<div class="container">
  <div class="add-comment">
    <p (click)="isAdding = !isAdding">Comment</p>
  </div>
  <div class="adding-comment" *ngIf="isAdding">
    <form>
      <div class="input">
        <textarea id="text" name="text" class="center"
        required
        minlength="1"
        maxlength="600"
        [(ngModel)]="comment.text"
        #text="ngModel"></textarea>
        <p style="margin: 0; color: red; font-size: 14px; padding-top: 2px;"
           *ngIf="text.touched && text.invalid">Text is required.</p>
      </div>
      <div class="buttons">
        <div class="save" (click)="create()">
          <p>Save</p>
        </div>
        <div class="cancel" (click)="cancel()">
          <p>Cancel</p>
        </div>
      </div>
    </form>
  </div>
</div>

