<div class="container">
  <form>
    <div class="input">
      <label for="firstName">Input first name</label>
      <input id="firstName" name="firstName">
    </div>
    <div class="input">
      <label for="lastName">Input first name</label>
      <input id="lastName" name="lastName">
    </div>
    <div class="input">
      <label for="userName">Input first name</label>
      <input id="userName" name="userName">
    </div>
    <div class="input">
      <label for="email">Input first name</label>
      <input id="email" name="email">
    </div>
    <div class="input">
      <label for="password">Input first name</label>
      <input id="password" name="password">
    </div>
    <div class="register">
      <button>Register</button>
    </div>
  </form>
</div>
