/* Comments */
.add-comment {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-weight: 500;
}

.add-comment p {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #34b934;
  height: 4vh;
  width: 5vw;
  border-radius: 4px;
  cursor: pointer;
}

.comments {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}
