<div class="add-comment">
  <p (click)="isAdding = !isAdding">Comment</p>
</div>
<app-add-comment *ngIf="isAdding" [game]="game" (isAdded)="isAdding = $event"></app-add-comment>
<div class="comments" >
    <app-comment *ngFor="let c of game?.comments" [comment]="c" [game]="game"
    (commentToDel)="changeItemsToDel($event)">
      <app-comment *ngFor="let r of c?.replies"
                   [comment]="r" [game]="game"
                   (commentToDel)="changeItemsToDel($event)">
        <app-comment *ngFor="let rr of r?.replies"
                     [comment]="rr" [game]="game"
                     (commentToDel)="changeItemsToDel($event)">
        </app-comment>
      </app-comment>
    </app-comment>
</div>
