<app-add-comment [gameId]="game?.id!" (newComment)="addComment($event)"></app-add-comment>
<div class="comments">
  <div class="comment" *ngFor="let c of game?.comments">
    <div class="user">
      <span class="material-symbols-outlined">person </span>
      <p>{{c.author}}</p>
    </div>
    <div class="text">
      <p>{{c.text}}</p>
    </div>
    <div class="reply">
      <p (click)="c.isReplying = true;">Reply</p>
    </div>
    <app-add-comment *ngIf="c.isReplying" [gameId]="game?.id!" (newComment)="addComment($event)"></app-add-comment>
    <div *ngIf="c.replies!.length !== 0" class="replies">
      <div class="comment" style="margin-left: 2%;" *ngFor="let r of c.replies">
        <div class="user">
          <span class="material-symbols-outlined">person </span>
          <p>{{r.author}}</p>
        </div>
        <div class="text">
          <p>{{r.text}}</p>
        </div>
        <div class="reply">
          <p>Reply</p>
        </div>
        <app-add-comment *ngIf="r.isReplying" [gameId]="game?.id!" (newComment)="addComment($event)"></app-add-comment>
      </div>
    </div>
  </div>
</div>
