.container {
  overflow-y: scroll;
  min-height: 81vh;
  background-color: #1e1e1e;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1% 0;
}

.container p {
  margin: 0;
}

.container::-webkit-scrollbar {
  display: none;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 5vh;
}

.game {
  background-color: black;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  gap: 1vh;
  width: 70vw;
}

.name {
  padding: 1%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 500;
  font-size: 20px;
}

.description {
  padding: 0 1% 1%;
}



